.inline-label {
	position: relative;
}

.inline-label label {
	position: absolute;
	display: block;

	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;

	color: #495057;
	cursor: text;

	margin-bottom: 0;
	line-height: 1.5;

	text-align: left;
	vertical-align: top;
	pointer-events: none;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.inline-label .form-control ~ label, .input-group .inline-label .form-control ~ label {
	top: 9px;
	left: 1px;
	padding: 0 .75rem;
	font-size: 1rem;
}
.inline-label .form-control-sm ~ label, .input-group-sm .inline-label .form-control ~ label {
	top: 5px;
	left: 1px;
	padding: 0 .5rem;
	font-size: .875rem;
}
.inline-label .form-control-lg ~ label, .input-group-lg .inline-label .form-control ~ label {
	top: 10px;
	left: 1px;
	padding: 0 1rem;
	font-size: 1.25rem;
}


.inline-label.moved .form-control, .inline-label select.form-control, .inline-label textarea.form-control {
	padding-top: 10px;
}
.inline-label.moved .form-control ~ label, .inline-label select.form-control ~ label {
	top: 0;
	font-size: .7rem;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}


.input-group .form-group.inline-label {
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.input-group .form-group.inline-label .form-control {
	width: 100%;
}

.input-group .form-group:not(:first-child) .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group .form-group:not(:last-child) .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group .form-group:last-child .form-control {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}